<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>144630956305-lnbohp1pkra74i7mgb1bf59j0kqscni1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144630956305-lnbohp1pkra74i7mgb1bf59j0kqscni1</string>
	<key>API_KEY</key>
	<string>AIzaSyCFM-D0FRs1v9xHIoUr2Ns6QnNMmLghBZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>144630956305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.idelfonso.PassportApp</string>
	<key>PROJECT_ID</key>
	<string>passportapp-86b64</string>
	<key>STORAGE_BUCKET</key>
	<string>passportapp-86b64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:144630956305:ios:ca3e01c0fca160e3</string>
	<key>DATABASE_URL</key>
	<string>https://passportapp-86b64.firebaseio.com</string>
</dict>
</plist>